@tailwind base;
@tailwind components;
@tailwind utilities;


.text-title {
  @apply text-4xl font-bold text-back_panter capitalize font-inter;
}

.text-subtitle {
  @apply text-2xl font-bold text-back_panter capitalize font-inter;
}

.text-primary-bold {
  @apply text-xl font-bold text-back_panter capitalize font-inter;
}

.text-secondary {
  @apply text-base font-normal  capitalize text-silver font-inter; 

}

.text-primary {
  @apply text-xl font-medium text-back_panter capitalize font-inter;
}

